.add-plant-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    justify-content: center;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;

  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .link {
    margin-top: 10px;
    text-align: center;
  }